<div class="container"></div>

<div class="row">
    <div class="col-6 offset-3">
        <form method="post">
            <div class="form-group">
                <lable>Country</lable>
                <select class="form-control" id="Country">           
                    <option>--select country</option>
                </select>
            </div>
            <div class="form-group">
                <lable>State</lable>
                <select class="form-control" id="State">                                   
                    <option>--select State--</option>
                </select>
            </div>
            <div class="form-group">
                <lable>City</lable>
                <select class="form-control" id="City">   
                    <option>--select City--</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-primary float-right">Save</button>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"><</script>
<script src="~/js/Cascade.js"></script>

